body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #4CAF50;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.quiz-container {
    text-align: center;
    margin-top: 50px;
}

h2 {
    font-size: 2em;
    color: #333;
}

.options {
    margin: 20px 0;
}

.option-btn {
    background-color: #f4f4f9;
    color: #333;
    padding: 10px 20px;
    border: 2px solid #4CAF50;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.option-btn:hover {
    background-color: #4CAF50;
    color: white;
}

.next-btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.next-btn:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

.start-btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.start-btn:hover {
    background-color: #45a049;
}